<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="dashboard-wrapper">
  <main class="content-layout">
    <app-shared-grid
      [title]="titulo"
      [subtitle]="subtitulo"
      [columns]="colunas"
      [data]="dados"
      [primaryBtnLabel]="rotuloBotaoPrimario"
      (primaryBtnClick)="aoAcaoPrimaria()"
      (filterApplied)="aoAplicarFiltro($event)"
      (editClick)="aoClicarEditar($event)"
      (deleteClick)="aoClicarExcluir($event)">
    </app-shared-grid>
  </main>
</div>